body {
    border: solid red 1px;
    height: 768px;
    width: 960px;
    margin: 2% 0 0 15%;
}
div{
    text-align: center; 
}
header{
    width: 100%;
    height: 2%;
}
#a {
    width: 100%;
    height: 10%;
    border-bottom: solid red 1px;
    margin-bottom: -1px;
    border-top: solid red 1px;
    margin-top: -1px;
    background-color: rgba(150, 1, 1, 0.712);
}

#b {
    float: left;
    width: 20.8%;
    height: 90%;
    border-right: solid red 1px;
    margin-right: -1px;
    background-color: rgba(214, 77, 77, 0.63);
}
#c{
   float: right;
    width: 39.6%;
    height: 30%;
    border-bottom: solid red 1px;
    margin-bottom: -1px;
    background-color: rgba(214, 77, 77, 0.63);

}
#d {
    float: right;
    width: 39.6%;
    height: 30%;
    border-right: solid red 1px;
    margin-right: -1px;
    border-bottom: solid red 1px;
    margin-bottom: -1px;
    background-color: rgba(214, 77, 77, 0.63);

}
#e{
    float: right;
    width: 19.8%;
    height: 37.5%;
    border-left: solid red 1px;
    margin-left: -1px;
    background-color: rgba(214, 77, 77, 0.63);

}
#f{
    float: right;
    width: 19.8%;
    height: 37.5%;
    border-left: solid red 1px;
    margin-left: -1px;
    background-color: rgba(214, 77, 77, 0.63);

}
#g{
    float: right;
    width: 19.8%;
    height: 37.5%;
    border-left: solid red 1px;
    margin-left: -1px;
    background-color: rgba(214, 77, 77, 0.63);
    
}
#h{
    float: right;
    width: 19.8%;
    height: 37.5%;
    background-color: rgba(214, 77, 77, 0.63);

}
#i{
    float: right;
    width: 79.2%;
    height: 22.5%;
    border-top: solid red 1px;
    margin-top: -1px;
    background-color: rgba(150, 1, 1, 0.712);
    
}
@media (max-width: 480px){
* {
    color: rgb(20, 9, 9);
}
body {
    border: solid blue 1px;
    height: 767px;
    width: 480px;
    margin: 2% 0 0 0;
}
div{
    text-align: center; 
}
#a{
    width: 100%;
    height: 9.5%;
    float: none;
    background-color: rgba(8, 8, 121, 0.719);
}
#b{
    width: 100%;
    height: 19%;
    border-bottom: solid blue 1px;
    margin-bottom: -1px;
    float: none;
    background-color: rgba(0, 247, 255, 0.596);
}
#c{
    width: 100%;
    height: 16%;
    float: none;
    background-color: rgba(0, 247, 255, 0.596);

}
#d{
    width: 100%;
    height: 16%;
    float: none;
    background-color: rgba(0, 247, 255, 0.596);

}
#e, #f, #g, #h{
    width: 50%;
    height: 38%;
    float: right;
    background-color: rgba(0, 247, 255, 0.596);


}
#i{
    width: 100%;
    height: 9%;
    background-color: rgba(8, 8, 121, 0.719);

}
}


