body {
    border: solid red 1px;
    height: 768px;
    width: 960px;
    margin: 2% 0 0 15%;
}
div{
    text-align: center; 

}
header{
    width: 100%;
    height: 2%;
}
#a {
    
    width: 100%;
    height: 8%;
    border-bottom: solid red 1px;
    margin-bottom: -1px;
    border-top: solid red 1px;
    margin-top: -1px;
}

#b {
    float: left;
    width: 20.8%;
    height: 90%;
    border-right: solid red 1px;
    margin-right: -1px;
    
}
#c{
   float: right;
    width: 39.6%;
    height: 30%;
    border-bottom: solid red 1px;
    margin-bottom: -1px;
   
}
#d {
    float: right;
    width: 39.6%;
    height: 30%;
    border-right: solid red 1px;
    margin-right: -1px;
    border-bottom: solid red 1px;
    margin-bottom: -1px;
}
#e{
    float: right;
    width: 19.8%;
    height: 37.5%;
    border-left: solid red 1px;
    margin-left: -1px;
}
#f{
    float: right;
    width: 19.8%;
    height: 37.5%;
    border-left: solid red 1px;
    margin-left: -1px;
}
#g{
    float: right;
    width: 19.8%;
    height: 37.5%;
    border-left: solid red 1px;
    margin-left: -1px;
}
#h{
    float: right;
    width: 19.8%;
    height: 37.5%;
}
#i{
    float: right;
    width: 79.2%;
    height: 22.5%;
    border-top: solid red 1px;
    margin-top: -1px;
}
@media (max-width: 480px){
* {
    color: indigo;
}
body {
    border: solid red 1px;
    height: 767px;
    width: 480px;
    margin: 2% 0 0 0;
}
div{
    text-align: center; 
}
#a{
    width: 100%;
    height: 9.5%;
    float: none;
}
#b{
    width: 100%;
    height: 19%;
    border-bottom: solid red 1px;
    margin-bottom: -1px;
    float: none;
}
#c{
    width: 100%;
    height: 16%;
    float: none;
}
#d{
    width: 100%;
    height: 16%;
    float: none;
}
#e, #f, #g, #h{
    width: 50%;
    height: 38%;
    float: right;

}
#i{
    width: 100%;
    height: 9%;
}
}


